header{
    background-color: #8E1616;
    border-bottom: 10px solid blaCK;
    align-items: center;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

nav{
    text-align: right;
}


header a{
    display: inline-flex;
    align-items: center;
    color: #1d1616;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:before{
    content:"";
    background-color: #d84040;
    margin-right: 10px;
    width: 10px;
    height: 10px;
}

#button{
    display: inline-block;
    background-color: #d84040;
    height: 60px;
    padding-left: 17px;
    padding-right: 17px;
    line-height: 60px;
    box-shadow: 5px 5px 2px black;
    margin-right: 0px;
}

#button{
    cursor: grabbing;
    transition: transform 50ms linear;
}

#button:hover{
    background: pink;
    transform: scale(1.1);
}

#box{

    padding: 20px 40px;
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 5px 5px 2px black;
}

#buttons_inside{
    margin-left: 91px;
    margin-top: 38px;
    }

#buttons_inside a{
    display: inline-block;
    text-decoration: none;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #1d1616;
    background-color: #d84040;
    height: 60px;
    padding-left: 17px;
    padding-right: 17px;
    line-height: 60px;
    box-shadow: 5px 5px 2px black;
    margin-right: 0px;
}
