.main-subtitle{
    font-family: "Press Start 2P", serif, sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 2px black;
    padding-top: 38px;
    color: white;
}

.main-subtitle.-second{
    color: #FFF;
    text-shadow: none;
    text-align: center;
}

.main-subtitle.-thirth{
    color: #d84040;
    height: 25px;
    width: 125px;
    text-shadow: none;
    text-align: center;
}