
.main-button{
    display: inline-block;
    background-color: #d84040;
    height: 60px;
    padding-left: 17px;
    padding-right: 17px;
    line-height: 60px;
    box-shadow: 5px 5px 2px black;
    margin-right: 0px
}

.main-button{
    cursor: grabbing;
    transition: transform 50ms linear;
}

.main-button:hover{
    background: pink;
    transform: scale(1.1);
}

.main-button.-full{
    width: 100%;

}
